<div id="<%= dom_id house %>">
  <p>
    <strong>Door color:</strong>
    <%= house.door_color %>
  </p>

  <p>
    <strong>Room color:</strong>
    <%= house.room_color %>
  </p>

  <p>
    <strong>Floor color:</strong>
    <%= house.floor_color %>
  </p>

</div>
