<div id="<%= dom_id bike %>">
  <p>
    <strong>First part:</strong>
    <%= bike.first_part %>
  </p>

  <p>
    <strong>Second part:</strong>
    <%= bike.second_part %>
  </p>

  <p>
    <strong>Third part:</strong>
    <%= bike.third_part %>
  </p>

</div>
